a { color: #22a7f0; }

body.home {
  margin: 0;
  padding: 0;
  background-color: #C5EFF7;
  background-size: cover;
  min-height: 50vh;
}

#coming-soon {
  font-family: "Cutive", serif;
  color: black;
  text-align: center;
  margin: 100px auto;
  padding: 20px;
}
#coming-soon h2 {
  font-family: "Helvetica", Arial, serif;
  font-size: 28px;
  color: #52b3d9;
  text-transform: uppercase;
}

/* privacy and terms page */

.privacy-terms {
  font-family: "Helvetica", Arial, serif;
  color: #666666;
  line-height: 1.5em;
}

.privacy-terms h2, .privacy-terms h3 {
  color: #333;
}
.privacy-terms a, .privacy-terms a:hover {
  color: #00b5cc
}
